---
// Redirect vers /fr/cases
---
<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0;url=/fr/cases" />
  <link rel="canonical" href="/fr/cases" />
</head>
<body></body>
</html>
