---
// Redirect vers /fr/the-wall
---
<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0;url=/fr/the-wall" />
  <link rel="canonical" href="/fr/the-wall" />
</head>
<body></body>
</html>
